body {
font-family: 'Open Sans', sans-serif !important;
}
header {
    margin: 50px;
}

.login-container {
    margin: 100px auto;
    width: 400px;
}

.auto-margin {
    margin: auto;
    width: auto;
    display: inline;
}

.space-50 {
    width: 50px;
    display: inline-block;
}

.menu-bar {
    -webkit-transition: display 1s ease-in; /* Safari */
    transition: opacity 0.2s ease-in;
}

.menu-bar-hidden {
    opacity: 0;
}

.menu-icon {
    position: fixed !important;
    top: 15px !important;
    left: 15px;
    opacity: 0.2;
    font-size: 20px;
    cursor: pointer;
    color: dimgrey;
    z-index: 1500;
}

.menu-icon:hover {
    opacity: 1;
}

.img-menu {
    width: 38px;
    margin: 5px;
}

div.speech-container {
    display: none;
    position: fixed;
    bottom: 5px;
    left: 25%;
    width: 50%;
    padding: 15px;

    background-color: #f8f8f8;
    border-color: #e7e7e7;
    background-image: -webkit-linear-gradient(top,#fff 0,#f8f8f8 100%);
    background-image: -o-linear-gradient(top,#fff 0,#f8f8f8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f8f8f8));
    background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
}

.avatar-container {
    vertical-align: top;
    position: relative;
    display: inline-block;
    width: 20%;
}
.avatar {
 vertical-align: top;
}

.message-container
{
    vertical-align: top;
    position: relative;
    width: 60%;
    display: inline-block;
    font-size: 2.0em;
}

.message {
    color: #777;
}

.icon-facebook {
    background-image: url('img/facebook.png');
    background-repeat: no-repeat;
    padding-left: 8%;
    background-size: 8%;
    background-position-y: 50%;
}

.icon-twitter {
    background-image: url('img/twitter.png');
    background-repeat: no-repeat;
    padding-left: 8%;
    background-size: 8%;
    background-position-y: 50%;
}

p.user {
    font-size: 1.3em;
}

div.preload {
    position: fixed;
    bottom: 5px;
    right: 5px;
    color: red;
}